.report {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    .header {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        .title {
            width: 200px;
            height: 40px;
            padding-left: 50px;
            font-size: 30px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
    .body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 900px;
    color: white;
    gap: 30px;

    .xyma {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 800px;
        gap: 30px;

        .name{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100px;
            background-color: #393E46;
            border-radius: 10px;
            font-size: 30px;
            font-family: 'Courier New', Courier, monospace;
        }
        .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;
            width: 100%;
            height: 600px;
            background-color: #393E46;

            .xl_btn {
                width: 200px;
                height: 80px;
                background-color: rgb(65, 105, 153);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            .xl_btn:hover {
                scale: 1.3;
            }
        }
    }

    .nano {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 800px;
        gap: 30px;

        .name{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100px;
            background-color: #393E46;
            border-radius: 10px;
            font-size: 30px;
            font-family: 'Courier New', Courier, monospace;
        }
        .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;
            width: 100%;
            height: 600px;
            background-color: #393E46;

            .xl_btn {
                width: 200px;
                height: 80px;
                background-color: rgb(65, 105, 153);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            .xl_btn:hover {
                scale: 1.3;
            }
        }
    }

    }
}